$font: "DM Sans 14pt", "Poppins", sans-serif;
$accentColor: #3CC68A;
$txtColor: #02073E;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flex($al, $js) {
    display: flex;
    align-items: $al;
    justify-content: $js;
}

@mixin media($px) {
    @media screen and (max-width: $px) {
        @content;
    }
}