@import './presets';

body {
    font-family: $font;
}

#root > div {
    position: relative;
    width: auto;
    transition: .3s linear;
}

.condensedBody {
    margin-left: 250px;
    @include media(800px) {
        margin-left: 0;
    }
}