VITE_APPWRITE_PROJECT_NAME="isbmpa"
API_PORT="3001"
CLIENT_ORIGIN="http://127.0.0.1:5173"
APPWRITE_ENDPOINT="https://nyc.cloud.appwrite.io/v1"
APPWRITE_PROJECT_ID="6a2d78b100393249f926"
APPWRITE_GALLERY_BUCKET_ID="your-gallery-bucket-id"
APPWRITE_API_KEY="your-server-api-key"
